* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dd {
  background-image: url(./assets/885543.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */
header {
  padding: 2%;
}
.header--section {
  display: flex;
  justify-content: space-between;
}
.header--section img {
  height: 100px;
}
nav {
  align-items: center;
  color: #fff;
  display: flex;
  /* width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; */
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin-right: 30px;
  font-size: 2rem;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  border-bottom: 3px solid blue;
}

/* MAIN */
/* PREMIERE Section */

.home-section-1 {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 40%;
  color: #000;
  margin: auto;
}
.home-section-1--title {
  text-align: center;
  padding: 2%;
}
.home-section-1--text {
  text-align: center;
  padding: 2%;
}

/* DEUXIEME SECTION */
.home-section-2 {
  display: flex;
}
.home-section-2--title {
  text-align: center;
  margin: 2% 0 5%;
}
/* ARTICLE */
article {
  background-color: #f2f2f2;
  flex: 2;
  margin: 2%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-section-2--div-card {
  padding: 0 5%;
}
.home-section-2--card {
  display: flex;
  margin-bottom: 2%;
}
article img {
  height: 150px;
}
.home-section-2--card--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-section-2--card--text-2 {
  padding: 5% 3%;
}
/* ASIDE */
aside {
  background-color: #f2f2f2;
  flex: 1;
  margin: 2%;
  border-radius: 20px;
  text-align: center;
}
.home-aside--title {
  padding: 5%;
}
.home-aside--div-card {
  padding: 0 10%;
  text-align: center;
}
.home-aside--card--text {
  padding: 5%;
}
aside video {
  width: 80%;
  height: 150px;
  border-radius: 40px;
  /* object-fit: cover; */
}

/* FOOTER */

footer {
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 2%;
}
/* .footer-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */
footer img {
  height: 100px;
}
.footer--icon {
  font-size: 2rem;
}
.footer--icon i {
  padding: 1%;
  color: #fff;
}
.footer--list {
  display: flex;
  justify-content: center;
}
.footer--list ul {
  list-style-type: none;
}
.footer--list li {
  padding-top: 10px;
  font-size: 1rem;
}
.footer--list a {
  text-decoration: none;
  color: #fff;
}
/* CONTACT */
.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form--title {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
label:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.form--contact {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
.form--span {
  margin: 0 1% 0 2%;
}
.form--span a {
  text-decoration: none;
  color: #fff;
}
